<html>
    <head>
        <meta charset="UTF-8">
        <title>小刘同学制作</title>
    </head>
    <header>
        <h1>致毕业生的明信片</h1>
    </header>
<body>

<p>每一次的脱壳，都是向成熟的蜕变。然而，时光洗刷。我们每一次的脱壳，都是向成熟的蜕变。然而时光洗刷。我们
    任何的过去，只剩下最美好的。献给每一个你们，以及最美好的年华。
    </p>
<p>彼时，我们是命运垂青的宠儿，带着父母的期盼来到这里。也许大学四年只是人生长河中微不足道的片段,但它又注定是最美的花样年华，是最不堪回首，却又无法忘怀的时光。此刻,我们即将告别，不想说青春散场，因为梦想正从这里拉开帷幕。</p>

<p>花开花落，四年的时间，并不长。此时的我们，又伫立在十字路口，也只有此时的我们，才真正尝到别离的滋味</p> 
<p>你们的青春从电机开始,祝每一位毕业生前程似锦</p>
</body>
</html>
<style>
    p{
        font-size: 1.6rem;
        background-color: aqua;
    }
    body {
    width: 70%;
    margin: 0 auto;
  }
</style>
